---
const { title, sub } = Astro.props;
---

<div class="flex flex-col items-center gap-5">
  <div class="hero-badge">
    <p>{sub}</p>
  </div>
  <div class="font-semibold md:text-4xl text-2xl text-center text-headline">
    {title}
  </div>
</div>
